<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      
      <category
            name="Medic"
            id="de.lmu.ifi.dbs.medmon.medic.ui.medmon">
      </category>
      <view
            category="de.lmu.ifi.dbs.medmon.medic.ui.medmon"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.PatientView"
            icon="icons/patient_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.PatientView"
            name="Patient">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.medic.ui.medmon"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.DataTreeView"
            icon="icons/tree_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.DataTreeView"
            name="Daten"
            restorable="true">
      </view>
      <view
            category="de.lmu.ifi.dbs.medmon.medic.ui.medmon"
            class="de.lmu.ifi.dbs.medmon.medic.ui.views.HomeView"
            icon="IMG_ETOOL_HOME_NAV"
            id="de.lmu.ifi.dbs.medmon.medic.ui.views.HomeView"
            name="Startseite"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.lmu.ifi.dbs.medmon.medic.ui.perspective.HomePerspective"
            icon="IMG_ETOOL_HOME_NAV"
            id="de.lmu.ifi.dbs.medmon.medic.ui.HomePerspective"
            name="Startseite">
      </perspective>
      <perspective
            class="de.lmu.ifi.dbs.medmon.medic.ui.perspective.DefaultPerspectiveFactory"
            icon="icons/visualize_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.default"
            name="Analyse">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.medic.ui.default">
         <view
               id="de.lmu.ifi.dbs.knowing.core.swt.presenterView"
               minimized="false"
               ratio="0.7f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.lmu.ifi.dbs.medmon.medic.ui.PatientView"
               minimized="false"
               moveable="false"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.lmu.ifi.dbs.medmon.medic.ui.DataTreeView"
               minimized="false"
               ratio="0.8f"
               relationship="right"
               relative="de.lmu.ifi.dbs.medmon.medic.ui.PatientView"
               showTitle="false"
               visible="true">
         </view>
      </perspectiveExtension>
      
       <perspectiveExtension
            targetID="de.lmu.ifi.dbs.medmon.medic.ui.HomePerspective">
         <view
               closeable="false"
               id="de.lmu.ifi.dbs.medmon.medic.ui.views.HomeView"
               minimized="false"
               moveable="false"
               ratio="1.0f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.lmu.ifi.dbs.medmon.medic.ui.commands.patient"
            name="Verwaltung">
      </category>
      <category
            id="de.lmu.ifi.dbs.medmon.medic.ui.commands.data"
            name="Data">
      </category>
      <command
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.OpenAnalysePerspectiveHandler"
            id="de.lmu.ifi.dbs.medmon.medic.OpenAnalysePerspective"
            name="Analyse Perspective">
      </command>
      <command
            categoryId="de.lmu.ifi.dbs.medmon.medic.ui.commands.patient"
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.NewPatientHandler"
            id="de.lmu.ifi.dbs.medmon.medic.createPatient"
            name="Patient anlegen">
      </command>
      <command
            categoryId="de.lmu.ifi.dbs.medmon.medic.ui.commands.patient"
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.OpenPatientHandler"
            id="de.lmu.ifi.dbs.medmon.medic.ui.openPatient"
            name="Patient laden">
      </command>
      <command
            categoryId="de.lmu.ifi.dbs.medmon.medic.ui.commands.patient"
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.DeletePatientHandler"
            id="de.lmu.ifi.dbs.medmon.medic.delete"
            name="Patient entfernen">
      </command>
      <command
            categoryId="de.lmu.ifi.dbs.medmon.medic.ui.commands.patient"
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.ImportPatientHandler"
            id="de.lmu.ifi.dbs.medmon.medic.import"
            name="Patient importieren">
      </command>
      <command
            categoryId="de.lmu.ifi.dbs.medmon.medic.ui.commands.patient"
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.ExportPatientHandler"
            id="de.lmu.ifi.dbs.medmon.medic.export"
            name="Patient exportieren">
      </command>
      <command
            categoryId="de.lmu.ifi.dbs.medmon.medic.ui.commands.data"
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.ImportWizardHandler"
            id="de.lmu.ifi.dbs.medmon.medic.ui.dataImportWizard"
            name="Import Assistent">
      </command>
      <command
            categoryId="de.lmu.ifi.dbs.medmon.medic.ui.commands.data"
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.QuickAnalyseHandler"
            id="de.lmu.ifi.dbs.medmon.medic.ui.quickanalyse"
            name="Schnellanalyse">
      </command>
      <command
            categoryId="de.lmu.ifi.dbs.medmon.medic.ui.commands.data"
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.ImportDPUHandler"
            id="de.lmu.ifi.dbs.medmon.medic.ui.importDPU"
            name="DPU importieren">
      </command>
      <command
            categoryId="de.lmu.ifi.dbs.medmon.medic.ui.commands.data"
            defaultHandler="de.lmu.ifi.dbs.medmon.medic.ui.handler.LoadDataFromDBHandler"
            id="de.lmu.ifi.dbs.medmon.medic.ui.loadDataFromDB"
            name="Daten aus Datenbank laden">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=de.lmu.ifi.dbs.medmon.ui.file">
         <menu
               id="de.lmu.ifi.dbs.medmon.medic.ui.patientmenu"
               label="Patienten">
            <command
                  commandId="de.lmu.ifi.dbs.medmon.medic.createPatient"
                  icon="icons/add-patient_16.png"
                  id="de.lmu.ifi.dbs.medmon.medic.ui.patientmenu.new"
                  label="Patient anlegen"
                  style="push">
            </command>
            <command
                  commandId="de.lmu.ifi.dbs.medmon.medic.import"
                  icon="icons/import-patient_16.png"
                  id="de.lmu.ifi.dbs.medmon.medic.ui.patientmenu.import"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="de.lmu.ifi.dbs.medmon.medic.export"
                  icon="icons/export-patient_16.png"
                  id="de.lmu.ifi.dbs.medmon.medic.ui.patientmenu.export"
                  label="Export"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=de.lmu.ifi.dbs.medmon.medic.ui.patientmenu">
         <menu
               label="Analyse">
            <command
                  commandId="de.lmu.ifi.dbs.medmon.medic.OpenAnalysePerspective"
                  icon="icons/visualize_16.png"
                  label="Analyse Ansicht"
                  style="push">
            </command>
            <command
                  commandId="de.lmu.ifi.dbs.medmon.medic.ui.quickanalyse"
                  icon="icons/run_16.png"
                  label="Schnellanalyse"
                  style="push">
            </command>
            <command
                  commandId="de.lmu.ifi.dbs.medmon.medic.ui.importDPU"
                  label="Verfahren importieren"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.lmu.ifi.dbs.medmon.medic.ui.PatientView">
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.ui.quickanalyse"
               label="Analyse"
               style="push">
         </command>
         <separator
               name="de.lmu.ifi.dbs.medmon.medic.ui.patienView.sep1"
               visible="true">
         </separator>
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.createPatient"
               label="Patient anlegen"
               style="push">
         </command>
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.ui.openPatient"
               label="Patient laden"
               style="push">
         </command>
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.delete"
               label="Patient entfernen"
               style="push">
         </command>
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.export"
               label="Patient exportieren"
               style="push">
         </command>
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.import"
               label="Patient importieren"
               style="push">
         </command>
         <separator
               name="de.lmu.ifi.dbs.medmon.medic.ui.patienView.sep2"
               visible="true">
         </separator>
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.ui.dataImportWizard"
               label="Datenimport"
               style="push">
         </command>
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.ui.loadDataFromDB"
               label="Daten aus Datenbank"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.lmu.ifi.dbs.medmon.medic.ui.PatientView.Data">
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.ui.dataImportWizard"
               label="import"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.lmu.ifi.dbs.medmon.medic.ui.DataTreeView">
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.ui.dataImportWizard"
               label="Daten importieren"
               style="push">
         </command>
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.ui.loadDataFromDB"
               label="Daten aus Datebank laden"
               style="push"
               tooltip="Startet einen Assistenten zum Laden von Daten aus der Datenbankaten aus Datebank laden">
         </command>
         <command
               commandId="de.lmu.ifi.dbs.medmon.medic.ui.quickanalyse"
               label="Analyse"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="de.lmu.ifi.dbs.medmon.ui.file"
               label="Programm">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="Assistent starten"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Einstellungen"
                  style="push">
            </command>
            <separator
                  name="de.lmu.ifi.dbs.medmon.medic.ui.separator.additions"
                  visible="true">
            </separator>
            <separator
                  name="de.lmu.ifi.dbs.medmon.medic.ui.seperator.closing"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Beenden"
                  style="push">
            </command>
         </menu>
         <menu
               id="de.lmu.ifi.dbs.medmon.ui.view"
               label="Ansicht">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  label="Perspektiven"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="View oeffnen"
                  style="push">
            </command>
         </menu>
         <menu
               id="de.lmu.ifi.dbs.medmon.ui.help"
               label="Hilfe">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  label="Aktualisierung"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.install"
                  label="Neue Funktionen installieren"
                  style="push">
            </command>
            <separator
                  name="de.lmu.ifi.dbs.medmon.rcp.about"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About Medmon"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.lmu.ifi.dbs.medmon.medic.ui.medic"
            name="Analyse">
      </category>
      <category
            id="de.lmu.ifi.dbs.medmon.medic.ui.management"
            name="Verwaltung">
      </category>
      <wizard
            category="de.lmu.ifi.dbs.medmon.medic.ui.medic"
            class="de.lmu.ifi.dbs.medmon.medic.ui.wizard.TherapyResultWizard"
            icon="icons/visualize_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.qickanalyseWizard"
            name="Schnellanalyse">
      </wizard>
      <wizard
            category="de.lmu.ifi.dbs.medmon.medic.ui.management"
            class="de.lmu.ifi.dbs.medmon.medic.ui.wizard.CreatePatientWizard"
            descriptionImage="icons/add-patient_48.png"
            icon="icons/add-patient_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.createPatientWizard"
            name="Patient erstellen">
      </wizard>
      <wizard
            category="de.lmu.ifi.dbs.medmon.medic.ui.management"
            class="de.lmu.ifi.dbs.medmon.medic.ui.wizard.ExportPatientWizard"
            descriptionImage="icons/export-patient_48.png"
            icon="icons/export-patient_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.patientExportWizard"
            name="Patient exportieren">
      </wizard>
      <wizard
            category="de.lmu.ifi.dbs.medmon.medic.ui.management"
            class="de.lmu.ifi.dbs.medmon.medic.ui.wizard.ImportPatientWizard"
            descriptionImage="icons/import-patient_48.png"
            icon="icons/import-patient_16.png"
            id="de.lmu.ifi.dbs.medmon.medic.ui.patientImportWizard"
            name="Patient importieren">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.lmu.ifi.dbs.medmon.medic.ui.quickanalyse"
            icon="icons/run_24.png">
      </image>
      <image
            commandId="de.lmu.ifi.dbs.medmon.medic.ui.openPatient"
            icon="icons/open-patient_24.png">
      </image>
      <image
            commandId="de.lmu.ifi.dbs.medmon.medic.createPatient"
            icon="icons/add-patient_24.png">
      </image>
      <image
            commandId="de.lmu.ifi.dbs.medmon.medic.delete"
            icon="icons/remove-patient_24.png">
      </image>
      <image
            commandId="de.lmu.ifi.dbs.medmon.medic.export"
            icon="icons/export-patient_24.png">
      </image>
      <image
            commandId="de.lmu.ifi.dbs.medmon.medic.import"
            icon="icons/import-patient_24.png">
      </image>
      <image
            commandId="de.lmu.ifi.dbs.medmon.medic.ui.dataImportWizard"
            icon="icons/import_24.png">
      </image>
      <image
            commandId="de.lmu.ifi.dbs.medmon.medic.ui.loadDataFromDB"
            icon="icons/database_transfer_24.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.lmu.ifi.dbs.medmon.medic.ui.preferences.ApplicationPreferencePage"
            id="de.lmu.ifi.dbs.medmon.medic.ui.preferences.application"
            name="Allgemein">
      </page>
   </extension>

</plugin>
