<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="medic.indigo" sequenceNumber="53">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.jfreechart.feature.feature.group" version="1.0.13"/>
<repository location="http://repository.mukis.de/p2/jfreechart/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="nz.ac.waikato.cs.weka.feature.feature.group" version="3.7.6.v20120711-1603"/>
<repository location="http://repository.mukis.de/p2/weka/3.7.6/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gov.nist.math.jama.feature.feature.group" version="1.0.2"/>
<repository location="http://repository.mukis.de/p2/jama/1.0.2/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.joda.convert.feature.feature.group" version="1.2.0"/>
<unit id="org.joda.time.feature.feature.group" version="2.1.0"/>
<repository location="http://repository.mukis.de/p2/joda/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.feature.feature.group" version="1.0.7"/>
<unit id="org.slf4j.feature.feature.group" version="1.6.6"/>
<repository location="http://logback.qos.ch/p2"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava.sdk.feature.feature.group" version="11.0.1"/>
<repository location="http://guava-osgi.googlecode.com/svn/trunk/repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.4.0.v20120613-r11652"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.lmu.ifi.dbs.knowing.core.feature.feature.group" version="0.1.7.201209281731"/>
<unit id="de.lmu.ifi.dbs.knowing.core.swt.feature.feature.group" version="0.1.7.201209281731"/>
<unit id="de.lmu.ifi.dbs.knowing.swt.feature.feature.group" version="0.1.7.201209281731"/>
<unit id="de.lmu.ifi.dbs.knowing.weka.feature.feature.group" version="0.1.7.201209281731"/>
<repository location="http://repository.mukis.de/p2/knowing/0.1.7/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sapphire.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.platform.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.java.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.osgi.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.modeling.xml.feature.group" version="0.5.3.201209191432"/>
<repository location="http://download.eclipse.org/sapphire/0.5.3/repository"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.datechooser.feature.feature.group" version="1.0.0.201212131446"/>
<unit id="org.eclipse.nebula.widgets.formattedtext.feature.feature.group" version="1.0.0.201212131446"/>
<unit id="org.eclipse.nebula.widgets.pagination.feature.feature.group" version="1.0.0.201212131446"/>
<repository location="http://download.eclipse.org/technology/nebula/incubation/snapshot"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.1.0.RELEASE"/>
<repository location="http://download.eclipse.org/gemini/updates/jpa/1.1.0"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.1.0.201209190714"/>
<unit id="org.eclipse.gemini.dbaccess.h2.feature.feature.group" version="1.1.0.201209190714"/>
<unit id="org.eclipse.gemini.dbaccess.mysql.feature.feature.group" version="1.1.0.201209190714"/>
<repository location="http://download.eclipse.org/gemini/dbaccess/updates/1.1-M3"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.cwt.feature.feature.group" version="0.9.0.201212132200"/>
<unit id="org.eclipse.nebula.widgets.calendarcombo.feature.feature.group" version="1.0.0.201212132200"/>
<unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="0.14.0.201212132200"/>
<repository location="http://download.eclipse.org/technology/nebula/snapshot"/>
</location>
</locations>
</target>
