<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="medic" sequenceNumber="2">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="${project_loc:/de.lmu.ifi.dbs.medmon.medic.target/plugins}" type="Directory"/>
</locations>
</target>
