<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.lmu.ifi.dbs.medmon.medic.core.sensor.SensorAdapter"
            class="de.lmu.ifi.dbs.medmon.base.ui.adapter.SensorAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="de.lmu.ifi.dbs.medmon.base.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="de.lmu.ifi.dbs.knowing.core.graph.xml.DataProcessingUnit"
            class="de.lmu.ifi.dbs.medmon.base.ui.adapter.DPUAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="de.lmu.ifi.dbs.medmon.base.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="de.lmu.ifi.dbs.medmon.base.ui.adapter.PatientClusterAdapter"
            class="de.lmu.ifi.dbs.medmon.base.ui.adapter.DPUAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="de.lmu.ifi.dbs.medmon.base.ui.adapter.IWorkbenchColumnAdapter">
         </adapter>
      </factory>
   </extension>

</plugin>
